<h1>Mon gros index</h1>
    <div class="container">
        <div>
          <%= form_tag listings_path, method: :get, class: "form-inline" do %>
          <div class="form-group">
            <%= text_field_tag :instrument,
            params[:instrument],
            class: "form-control mg",
            placeholder: "Which instrument ?" %>
          </div>
          <div class="form-group">
            <%= text_field_tag :band,
            params[:band],
            class: "form-control mg",
            placeholder: "Which band ?" %>
          </div>
          <div class="form-group">
            <%= text_field_tag :style,
            params[:style],
            class: "form-control mg",
            placeholder: "Which style ?" %>
          </div>
          <div class="form-group">
            <%= text_field_tag :location,
            params[:location],
            class: "form-control mg",
            placeholder: "where ?" %>
          </div>
            <%= submit_tag "Search", class: "btn btn-primary btn-improved" %>
          <% end %>
        </div>
        <br>
        <div class="itemo">
         <p> User signed in : <%= user_signed_in? %>
         <br>
         <% if current_user %>
          User is => <%= current_user.first_name %>
         <%end%></p>
        </div>
        <div class="container">
          <% @listings.each do |listing|%>
          <div class="itemo">
            <p>name : <%= listing.user.first_name %> <%= listing.user.last_name %><br>  
            band : <%= listing.band %><br>       
            style : <%= listing.style %><br>           
            instrument : <%= listing.instrument %><br>               
            location : <%= listing.location %></p>
          </div>
          <% end %>
        </div>

        <div class="row">
            <div class="col-sm">
                <%= link_to "home", root_path, class: "btn btn-outline-primary btn-improved" %>
            </div>
        </div>
    </div>