<h1>Mon gros index</h1>
    <div class="container">
        <div class="form">
          <%= form_tag listings_path, method: :get, class: "form-group" do %>

            <%= text_field_tag :instrument,
            params[:instrument],
            class: "form-control",
            placeholder: "Which instrument ?" %>

            <br>

            <%= text_field_tag :band,
            params[:band],
            class: "form-control",
            placeholder: "Which band ?" %>

            <br>

            <%= number_field_tag :location,
            params[:location],
            class: "form-control",
            placeholder: "where ?"
            %>

            <br>

            <%= submit_tag "Search", class: "btn btn-primary btn-improved" %>
          <% end %>
        </div>

        <br>

        <div class="row">
            <div class="col-sm">
                <%= link_to "home", root_path, class: "btn btn-outline-primary btn-improved" %>
            </div>
        </div>
    </div>